 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(55,58,54,0.85), rgba(55,58,54,0.85)), url("images/024c1a5dad8987c0bb8e52f273a1ff22.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 863px;
}

.u-section-1 .u-group-1 {
  width: 855px;
  min-height: 426px;
  margin: 207px auto 60px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  margin: 39px 20px 0;
}

.u-section-1 .u-line-1 {
  width: 193px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 563px;
  margin: 39px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-1 .u-group-1 {
    min-height: 453px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-1 .u-line-1 {
    width: 159px;
  }

  .u-section-1 .u-text-2 {
    width: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 122px;
  }

  .u-section-1 .u-text-2 {
    width: 356px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 114px;
  }

  .u-section-1 .u-text-2 {
    width: 333px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 3rem;
  }

  .u-section-1 .u-line-1 {
    width: 96px;
  }

  .u-section-1 .u-text-2 {
    width: 280px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-2 .u-group-1 {
  width: 670px;
  min-height: 214px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  margin: 0 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 953px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-1 {
  width: 262px;
  height: 196px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 6px 20px 0;
}

.u-section-2 .u-image-2 {
  width: 272px;
  height: 179px;
  margin: 33px auto 0 46px;
}

.u-section-2 .u-text-4 {
  margin: 21px 24px 0 16px;
}

.u-section-2 .u-image-3 {
  height: 152px;
  width: 268px;
  margin: 42px auto 0 46px;
}

.u-section-2 .u-text-5 {
  margin: 30px 24px 0 16px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 953px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-4 {
  width: 297px;
  height: 188px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 9px 20px 0;
}

.u-section-2 .u-image-5 {
  width: 261px;
  height: 183px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 25px auto 0;
}

.u-section-2 .u-image-6 {
  width: 289px;
  height: 156px;
  margin: 63px auto 0 35px;
}

.u-section-2 .u-text-8 {
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 953px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-7 {
  width: 258px;
  height: 167px;
  margin: 24px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 21px 20px 0;
}

.u-section-2 .u-image-8 {
  width: 293px;
  height: 195px;
  margin: 33px 32px 0 auto;
}

.u-section-2 .u-text-10 {
  margin: 13px 15px 0 25px;
}

.u-section-2 .u-image-9 {
  width: 284px;
  height: 166px;
  margin: 63px 29px 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 30px 15px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1559px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 836px;
  }

  .u-section-2 .u-image-1 {
    height: 197px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 180px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-left: 32px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 786px;
  }

  .u-section-2 .u-image-4 {
    height: 187px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    margin-left: 11px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 786px;
  }

  .u-section-2 .u-text-9 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-8 {
    margin-right: 7px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-9 {
    height: 167px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-2 .u-text-1 {
    margin: 25px 13px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 757px;
  }

  .u-section-2 .u-image-1 {
    width: 227px;
    height: 171px;
  }

  .u-section-2 .u-image-2 {
    width: 227px;
    height: 150px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 129px;
    width: 227px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    width: 227px;
    height: 143px;
  }

  .u-section-2 .u-image-5 {
    width: 227px;
    height: 159px;
  }

  .u-section-2 .u-image-6 {
    width: 227px;
    height: 123px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-7 {
    width: 227px;
    height: 147px;
  }

  .u-section-2 .u-image-8 {
    width: 227px;
    height: 151px;
    margin-right: 0;
  }

  .u-section-2 .u-image-9 {
    width: 227px;
    height: 133px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 699px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 709px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 723px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin: 30px 6px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 754px;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 40px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 61px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 26px;
    margin-right: 17px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 28px;
    margin-right: 53px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 17px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 56px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 37px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(55,58,54,0.75), rgba(55,58,54,0.75)), url("images/595788450ada444e9d5daeef5338e519.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 866px;
}

.u-section-3 .u-group-1 {
  width: 855px;
  min-height: 355px;
  height: auto;
  margin: 201px auto 60px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  width: 561px;
  margin: 24px auto 0;
}

.u-section-3 .u-line-1 {
  width: 192px;
  height: 8px;
  transform-origin: left center 0;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 25px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-3 .u-group-1 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 463px;
  }

  .u-section-3 .u-line-1 {
    width: 158px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 354px;
  }

  .u-section-3 .u-line-1 {
    width: 121px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 332px;
  }

  .u-section-3 .u-line-1 {
    width: 114px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 622px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-line-1 {
    width: 95px;
    margin-top: 24px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 512px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 313px;
}

.u-section-4 .u-image-1 {
  width: 233px;
  height: 233px;
  object-position: 50% 14.21%;
  background-position: 50% 50%;
  background-image: url("images/1626162333692.jpg");
  margin: 20px auto 0 55px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: -156px 0 0 343px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 0 0 0 356px;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 18px 0 0 343px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-4 .u-image-1 {
    width: 220px;
    height: 220px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: -144px;
    margin-left: 318px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 306px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2098px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2123px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 118px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 106px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 118px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1087px;
}

.u-section-5 .u-image-1 {
  height: 578px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  width: 850px;
  margin: -508px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 251px;
  grid-gap: 21px 21px;
  grid-auto-columns: calc(33.3333% - 14px);
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-5 .u-text-2 {
  margin: 39px 5px 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-5 .u-text-4 {
  margin: 39px 5px 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-5 .u-text-6 {
  margin: 39px 5px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 39px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 598px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 30px;
}

.u-section-5 .u-form-1 {
  height: 341px;
  width: 540px;
  margin: 47px 0 0 30px;
}

.u-section-5 .u-label-1 {
  font-weight: 700;
}

.u-section-5 .u-label-2 {
  font-weight: 700;
}

.u-section-5 .u-label-3 {
  font-weight: 700;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
}

.u-section-5 .u-social-icons-1 {
  height: 46px;
  min-height: 16px;
  width: 159px;
  min-width: 68px;
  margin: 46px auto 0 30px;
}

.u-section-5 .u-icon-4 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-5 .u-icon-5 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-5 .u-icon-6 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 982px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14px));
    grid-auto-columns: calc(33.333333333333336% - 14px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-5 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 589px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 638px;
    grid-auto-columns: calc(50% - 10.5px);
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-5 .u-form-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.75rem;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
  }
}